.btn-details{
    margin-left: 20px;
}
.btn-adqr{
    background-color: rgba(8, 8, 175, 0.897);
}
.container{
    background-color: rgba(49, 42, 42, 0.027);
    border-radius: 20px;
}
.card{
    max-width: 500px;
    min-width: 100px;
    display: flex;
}
button{
    margin-right: 14px;
    background-color: hsl(0, 71%, 57%);
}
